@import url('/src/static.css');

* {
    margin: 0;
    padding: 0;
}

.main {
    /* ! Убери этот костыль */
    width: calc(100vw - 10px); 
    height: calc(100vh - 10px);
    padding: 10px;

    background-color: rgb(200, 255, 200);
}