@import url('/src/static.css');

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: calc(100vh - 10px);
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-color);

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.mainTitle {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 95%;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: rgb(200, 200, 255); */
}

.mainTitle__picture {
    width: calc(200px - 5px);
    height: calc(200px - 5px);

    border-radius: 50%;
    background-image: url('/picture.jpg');
    background-position: center;
    background-size: cover;
}

.mainTitle__title {
    margin: 10px 0px;
    font-size: 2em;
    font-family: var(--chapter-text);
    color: var(--text-color);
}

.mainTitle__text {
    width: 90%;
    font-size: medium;
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
}

.mainTitle__link {
    color: var(--active-color);
    font-family: var(--chapter-text);
    letter-spacing: 1px;
    text-decoration: none;
}



.subject__block {
    margin-top: 10px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.theoryChoose {
    margin-top: 10px;
    width: 90%;
    min-height: 70px;
    

    border-radius: var(--border-size);

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.theoryChoose__elem {
    width: 50%;
    height: 100%;
    
    font-size: medium;
    font-family: var(--chapter-text);
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;
}

.theoryChoose__task--hidden {
    background-color: var(--block-color);
    border-right: 2px solid var(--main-color);
}

.theoryChoose__task--active {
    background-color: var(--active-color);
    border-right: 2px solid var(--main-color);
    color: var(--main-color);
}

.theoryChoose__theme--hidden {
    background-color: var(--block-color);
    border-left: 2px solid var(--main-color);
}

.theoryChoose__theme--active {
    background-color: var(--active-color);
    border-left: 2px solid var(--main-color);
    color: var(--main-color);
}

.theoryChoose__block:not(.theoryChoose__block--hidden) {
    margin-top: 5px;
    width: calc(90% - 10px);
    padding: 5px 0px;
    height: auto;
    max-height: 220px;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    border-radius: var(--border-size);
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.theoryChoose__block--hidden {
    display: none;
}

.option {
    position: relative;
    width: 100%;
    height: 50px;

    border-radius: var(--border-size);
    background-color: var(--block-color);
    overflow: hidden;

    transition: all 0.1s;
    &:active {
        opacity: 0.9;
    }
}

.option + .option {
    margin-top: 5px;
}

.option__button {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    z-index: 1;
    transition: all 0.2s;

    outline: 2px solid var(--active-color);
}

.option__button--active {
    outline: none;
    background-color: var(--active-color);
}

.option__nameBlock {
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 60px - 5px);
    height: 100%;
    padding-right: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.option__name {
    font-size: medium;
    font-family: var(--chapter-text);
    color: var(--text-color);
    letter-spacing: 2px;
}



.elementBlock {
    margin-top: 10px;
    width: 90%;
    max-height: calc(100% - 425px);
    padding: 10px 0px;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.elementBlock--small {
    height: calc(100% - 385px - 20px);
    /* ? 20px = padding: 10px 0px; */
}


.elementBlock--big {
    height: calc(100% - 160px - 20px);
    /* ? 20px = padding: 10px 0px; */
}


.back-to-subjects-button {
    position: fixed;
    width: calc(40px - 4px);
    height: calc(40px - 4px - 4px);
    padding-bottom: 4px;
    top: 30px;
    left: 30px;

    border-radius: var(--border-size);
    border: 2px solid var(--block-color);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
        content: var(--back-icon);
        font-family: var(--text-font);
        font-size: 1.5em;
        color: var(--text-color);
    }
}