@font-face {
    font-family: 'chapter-text';
    src: url("/Unbounded.ttf") format("truetype"); 
}

/* @font-face {
    font-family: "description";
    src: url("/manual.ttf"), format('ttf');
} */

:root {
    --chapter-text: 'chapter-text';
    --text-font: system-ui, -apple-system, "SF Pro Text", "SF UI Text",
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    /* ? все эти значения - заглушки на случай отсутствия tg-тем */
    --text-color: white;
    --main-color: rgb(70, 70, 70);
    --block-color: rgb(100, 100, 100);

    --active-color: rgb(85, 85, 255);

    --border-size: 7px;

    --go-icon: ">";
    --back-icon: "<";
}