@font-face {
    font-family: 'chapter-text';
    src: url("/Unbounded.ttf") format("truetype"); 
}

@keyframes disable {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes chapter-text {
    to {
        transform: translateX(50px);
        /* text-align: right; */
        padding-right: 20px;
        padding-left: 0px;
    }
    from {
        transform: translateX(0px);
        /* text-align: left; */
        padding-right: 0px;
        padding-left: 20px;
    }
}

.all--disabled {
    display: none !important;
}

:root {
    --chapter-text: 'chapter-text';
    --text-font: system-ui, -apple-system, "SF Pro Text", "SF UI Text",
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    /* ? все эти значения - заглушки на случай отсутствия tg-тем */
    --text-color: white;
    --main-color: rgb(70, 70, 70);
    --block-color: rgb(100, 100, 100);

    --active-color: rgb(85, 85, 255);

    --border-size: 7px;

    --go-icon: ">";
    --back-icon: "<";
}